body {
    background-color: #1c2127 !important;
    color: #ddd !important;
    font-family: Verdana, sans-serif !important;
}

.play__player-id-text {
    font-size: 14px !important;
}

.play__player-id-text::before {
    color:#ddd !important;
    content: "🚀 My Stylish 2bttns Game" !important;
    position: absolute !important;
    left: 1rem !important;

}

.classicMode__container {
    margin-top: 8rem !important;
}

.classicMode__question {
    background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    padding: 0 2rem !important;
    font-size: 20px !important;
    position: absolute !important;
    bottom: 0 !important;
    width:100% !important;
    text-align: center !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}

.classicMode__question::before {
    content: "❓ " !important;
}
.classicMode__question::after {
    content: " ❓" !important;
}

.classicMode__question--finished {
    color: green !important;
}

.classicMode__question--not-finished {
    color : black !important;
}


/* override the "or" text */
.classicMode__or-text {
    color: #ddd !important;
}


/* override progress bar layout */
.classicMode__progress-container {
    flex-direction: row-reverse !important;
    gap: 0.5rem !important;
}

/* override progress bar background */
.classicMode__progress-bar {
    background-color: #ddd !important;
}

/* override progress bar fill */
.classicMode__progress-bar > div:first-of-type {
    background-color: #45edc6 !important;
}

/* override progress bar text */
.classicMode__progress-text {
    color: #ddd !important;
}

/* override progress bar tooltip */
.classicMode__progress-tooltip {
    background-color: #ddd !important;
    color: black !important;
}

/* override icon */
.classicMode__icon {
    display: none !important;
}

/* override button styles */
.classicMode__button {
    background-color: black !important;
    border-radius: 0px !important;
}
.classicMode__button-color-bar {
    border-radius: 0px !important;
}
.classicMode__button-content-container {
    justify-content: space-between !important;
    flex-direction: row-reverse !important;
}
.classicMode__button-content {
    color: #ddd !important;
}

.classicMode__button-hotkey {
    background-color: gray !important;
    color: #ddd !important;
    border-radius: 100% !important;
    width: 32px !important;
    height: 32px !important;
    font-size: 16px !important;
}
.classicMode__button-hotkey:hover {
    background-color: darken(gray, 10) !important;
    font-size: 18px !important;
}

@media screen and (max-width: 470px) {
    .classicMode__button-content-container {
        justify-content: left !important;
    }

    .classicMode__question {
        font-size: 12px !important;
    }
}